{% extends 'home/base.html' %}

{% block localhead %}
<!-- header -->{{ map.header.render|safe }}<!-- end -->
{% endblock localhead %}
{% block content %}

<div class="m-3">
    <h2 >Map Name am I</h2>
</div>

<div class="container-fluid col-10 h-75 pt-3 pb-3">
<!-- -body -->    {{ map.html.render|safe }}<!-- end -->
</div>

<div class="m-3">
    <p>This is a test map that does nothing useful but display a map.</p>
</div>

{% endblock content %}
{% block localscripts %}
<!-- script --><script>{{ map.script.render|safe }}</script><!-- end -->
{% endblock localscripts %}
